.encabezado{

    padding-left: 30px;

}

#barberShop {

    width: 100%;

}

.principal{

    background: #CCCCCC;
    padding: 20px;
    
}


p{

    text-align: center;

}

#mision {

    font-size: 20px;

}

em strong {

    color: red;

}

.diferenciales{

    background: #ffffff;
    padding: 30px;

}

.texto-centrado{

    text-align: center;

}

ul{

    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.item{

    font-style: italic;

}

.imagenDiferenciales{

    width: 50%;

}